data/**/*.txt
data/**/*.pkl
data/**/*.bin
data/minipile*
data/mnist
data/cifar5m
notebooks/**/*.npz
notebooks/**/*.npy
__pycache__
_launch.py
slurm_*.sh
*.out
outputs
*_env
wandb
.wandbkey
tfmr_scaling_out*/
notebook/